/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Anton';
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster';
  color: black;
}
h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10%;
  width: 80%;
  height: 20%;
  background: linear-gradient(30deg, red, white, dodgerblue);
}
nav div.links a {
  text-decoration: none;
  font-size: 2.4rem;
  color: red;
  margin: 0 1rem;
}
nav div.links a.middle {
  color: blue;
}
header {
  margin: 0 10%;
  width: 80%;
  height: 60rem;
  background-image: url("/Users/jordan.oliver/Documents/School/Lambda/Lambda Projects/Builds/Unit 1 Build/Marketing-Page/imgs/together.jpg");
  background-size: cover;
  background-position: center;
}
header div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header div h1 {
  background: -webkit-linear-gradient(100deg, red, #888787, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.section-one {
  border: 1px solid purple;
  margin: 0 10%;
  width: 80%;
  height: 20rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
section.section-two {
  border: 1px solid green;
  margin: 0 10%;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
section.section-two h2 {
  background: linear-gradient(30deg, red, white, dodgerblue);
  border: 1px dotted dodgerblue;
  padding: 1.5rem;
  border-radius: 50%;
  margin: 2rem 0;
  border: 1px solid black;
}
section.section-two div.tab-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
section.section-two div.tab-row div {
  border: 1px solid hotpink;
  width: 30%;
  height: 50rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
section.section-two div.tab-row div img {
  width: 50%;
  height: 50%;
}
section.section-two div.tab-row div p {
  margin: 1rem 0;
  width: 80%;
}
section.section-three {
  margin: 0 10%;
  width: 80%;
}
