div.about {
    border: 1px solid red;
    .size();
    .flexCol();

    h2 {
        font-size: 4rem;
        .coolWords();
        margin: 1rem 0;
    }

    div.photo{
        border: 1px solid blue;
        .flexRow();
        
        div{
            width: 30%;

            img{
                width: 75%;
                height: 75%;
            }//img
        }//div
    }//photo
}//about