* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Anton';
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster';
  color: black;
}
h1 {
  font-size: 10rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a,
button {
  font-family: 'Lobster';
  font-size: 1.6rem;
}
