@image-base-url: "/Users/jordan.oliver/Documents/School/Lambda/Lambda Projects/Builds/Unit 1 Build/Marketing-Page/imgs";

header {
    //border: 3px double dodgerblue;
    .size();
    height: 90vh;
    background-image: url("@{image-base-url}/together.jpg");
    background-size: cover;
    background-position: center;

    div {
        .flexCol();

        h1{
            .coolWords();
        }

        h2{
            .coolWords();
        }
        
        a{
            margin: 35% 0 0 0;
            text-decoration: none;
            color: @red;
            .button();

            &:hover {
                .hover();
                
            }
        }
    }
}