.flexRow() {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flexCol() {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.size() {
    width: 100vw;
    height: 100vh;
}

.miniSize() {
    width: 100vw;
    height: 40vh;
}

.tabSize() {
    width: 30%;
    height: 50rem;
}

.button() {
    background: linear-gradient(30deg, @red, @white, @blue);
    border: 1px dotted dodgerblue;
    padding: 1.5rem;
    border-radius: 75%;
}

.coolWords() {
    background: -webkit-linear-gradient(100deg, @red, @yellow, @blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color1() {
    background: @yellow;
    background: linear-gradient(90deg, @red 0%, @blue 50%, @grey 100%);
}

.color2() {
    background: @blue;
    background: radial-gradient(circle, @yellow 0%, @blue 100%);
}