section.section-one{
    @media @mobile {
        margin: 1rem 0;
        .flexCol();
    }
    margin: 5rem 0;
    .miniSize();
    height: auto;
    .flexRow();
    .color1();

    div {
        @media @mobile {
            width: 85%;
        }
        width: 35%;
        h2 {
            @media @mobile {
                margin: 1rem 0;
            }
            color: @yellow;
        }//h2

        p {
            color: @grey;
        }
    }//div

    img{
        height: 25rem;
    }//img
}//section-one

section.section-two {
    .color1();
    .size();
    height: auto;
    .flexCol();

    h2 {
        .button();
        margin: 2rem 0;
        border: 1px solid black;
    }//h2
    
    div.tab-row {
        @media @mobile {
            .flexCol();
        }
        .flexRow();

        div.tabs {
            @media @mobile {
                width: 90%;
                height: 40rem;
            }
            .tab();
            .flexCol();

            img {
                width: 50%;
                height: 50%;
            }//img

            p {
                margin: 3rem 0; 
                width: 80%;
            }//p

            a {
                font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: @red;
            }
        }//div.tabs
    }//tab-row 
}//section-two

section.section-three {
    .miniSize();
    .color1();
    margin: 2rem 0;

    div {
        @media @mobile {
            height: auto;
        }
        .flexCol();

        button {
            @media @mobile {
                margin: 1rem 0 -4rem 0;
            }
            .button();
            margin: 3rem 0 -4rem 0;

            &:hover {
                .hover();
            }
        }//button
    }//div
}