section.section-one{
    margin: 5rem 0;
    .miniSize();
    height: auto;
    .flexRow();
    .color1();

    div {
        width: 35%;
        h2 {
            color: @yellow;
        }//h2

        p {
            color: @grey;
        }
    }//div

    img{
        height: 25rem;
    }//img
}//section-one

section.section-two {
    .color1();
    .size();
    height: auto;
    .flexCol();

    h2 {
        .button();
        margin: 2rem 0;
        border: 1px solid black;
    }//h2
    
    div.tab-row {
        .flexRow();

        div.tabs {
            .tab();
            .flexCol();

            img {
                width: 50%;
                height: 50%;
            }//img

            p {
                margin: 3rem 0; 
                width: 80%;
            }//p
        }//div.tabs
    }//tab-row 
}//section-two

section.section-three {
    .miniSize();
    .color1();
    margin: 2rem 0;

    div {
        .flexCol();

        img {
           
        }//img
        button {
            .button();
            margin: 3rem 0 -4rem 0;

            &:hover {
                .hover();
            }
        }//button
    }//div
}